.container {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid black;
  height: 300px;
}

.top-left {
  width: 70%;
  height: 60%;
  float: left;
  background-color: green;
  box-sizing: border-box;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.top-right {
  width: 30%;
  float: right;
  height: 60%;
  border-bottom: 3px solid black;
}

.bottom-left {
  background-color: blue;
  width: 70%;
  height: 40%;
  float: left;
  box-sizing: border-box;
  padding: 30px;
  border-right: 3px solid black;
}

.bottom-right {
  width: 30%;
  box-sizing: border-box;
  float: right;
  padding: 30px;
}
